{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container p-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="border p-2">
                <legend class="form-group">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pt-2 pb-2" >
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}
